/* Flex positioning for large screens */

.game-content {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  display: table;
}

.sidebar {
  display: table-cell;
  vertical-align: middle;
}

.popup-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
