/* Flex positioning for small screens */

.sidebar {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.sidebar-content {
  min-width: 48px;
  margin: .5% 5%;
}

.popup-window {
  white-space: nowrap;
  position: fixed;
  top: 25%;
  width: 100%;
}
