/*
 * General
 */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: right;
  background-color: #000;
  color: #fff;
}

img {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

h1 {
  font-size: 10vw;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  color: #000;
  text-shadow: 0px 0px 20px #000;
}

.h1-flicker {
  -webkit-animation-name: flicker;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  animation-name: flicker;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-duration: 2s;
}

a {
  font-family: 'Comfortaa', cursive;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: #c9f8ff;
  text-shadow: 0px 0px 20px #3de5ff;
}

.game-content {
  margin: auto;
  justify-content: center;
  padding: 1%;
}

.button {
  cursor: pointer;
}

.button:hover {
  color: #c9f8ff;
  text-shadow: 0px 0px 20px #3de5ff;
}


/* Large Screen Mode */

@media (min-width: 801px) {
  h1 {
    font-size: 80px;
  }
  .game-content {
    display: -webkit-flex;
    display: flex;
    display: table;
  }
  .sidebar {
    display: table-cell;
    vertical-align: middle;
  }
  .popup-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/* Small Screen Mode */

@media (max-width: 800px) {
  .sidebar {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
  }
  .sidebar-content {
    min-width: 48px;
    margin: .5% 5%;
  }
  .popup-window {
    white-space: nowrap;
    position: fixed;
    top: 25%;
    width: 100%;
  }
}


/*
 * Animations
 */


/* flicker effect on glowing text to make it look like a neon light */

@-webkit-keyframes flicker {
  0% {
    text-shadow: 0px 0px 20px #000;
    color: #000;
  }
  10% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
  12% {
    text-shadow: 0px 0px 20px #000;
    color: #000;
  }
  20% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
  25% {
    text-shadow: 0px 0px 20px #000;
    color: #000;
  }
  30% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
  100% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
}

@keyframes flicker {
  0% {
    text-shadow: 0px 0px 20px #000;
    color: #000;
  }
  10% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
  12% {
    text-shadow: 0px 0px 20px #000;
    color: #000;
  }
  20% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
  25% {
    text-shadow: 0px 0px 20px #000;
    color: #000;
  }
  30% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
  100% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
}


/* Flicker effect on game board to make it look backlit */

@-webkit-keyframes flicker-box {
  0% {
    box-shadow: 15px 15px 20px #000;
  }
  10% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
  12% {
    box-shadow: 15px 15px 20px #000;
  }
  20% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
  25% {
    box-shadow: 15px 15px 20px #000;
  }
  30% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
  100% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
}

@keyframes flicker-box {
  0% {
    box-shadow: 15px 15px 20px #000;
  }
  10% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
  12% {
    box-shadow: 15px 15px 20px #000;
  }
  20% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
  25% {
    box-shadow: 15px 15px 20px #000;
  }
  30% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
  100% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
}


/* bounce on click for cards */

@-webkit-keyframes bounce {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}


/* incorrect match animation */

@-webkit-keyframes whoops {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes whoops {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}


/* win animation */

@-webkit-keyframes yay {
  0% {
    -webkit-transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes yay {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


/*
 * Sidebar
 */

.sidebar {
  padding: 1%;
}

.timer {
  white-space: nowrap;
}


/*
 * Game Board
 */


/* background images are all my own artwork */

.game-board {
  display: -webkit-flex;
  display: flex;
  max-width: 900px;
  padding: 2%;
  padding-bottom: 3%;
  background-image: url("../imgs/game_board.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 15px 15px 20px #000;
}

.game-board-flicker {
  -webkit-animation-name: flicker-box;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  animation-name: flicker-box;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-duration: 2s;
}


/* background image assigned to card slots to make the grid look like it has
indents in it, yet still allows responsiveness */

.card-slot {
  max-width: 200px;
  background-image: url("../imgs/card_slot.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 2%;
  margin: 5%;
}

.card-front {
  display: none;
  -webkit-animation-name: bounce;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: .1s;
  animation-name: bounce;
  animation-delay: 0s;
  animation-duration: .1s;
}

.card-back:hover {
  box-shadow: 0px 0px 10px #96f4ff;
}

.yay {
  -webkit-animation-name: yay;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: .4s;
  animation-name: yay;
  animation-delay: 0s;
  animation-duration: .4s;
}

.whoops {
  -webkit-animation-name: whoops;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: .4s;
  animation-name: whoops;
  animation-delay: 0s;
  animation-duration: .4s;
}


/*
 * Popups and Mask
 */

.popup-window {
  display: none;
  z-index: 9999;
  max-width: 750px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}
