/* included my favorite fonts, retrieved from Google */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.7vw;
  text-align: right;
  background-color: #000;
  color: #fff;
}


/* setting a max font size */

@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}


/* flicker effect on glowing text to make it look like a neon light */

@-webkit-keyframes flicker {
  0% {
    text-shadow: 0px 0px 20px #000;
    color: #000;
  }
  10% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
  12% {
    text-shadow: 0px 0px 20px #000;
    color: #000;
  }
  20% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
  25% {
    text-shadow: 0px 0px 20px #000;
    color: #000;
  }
  30% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
  100% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
}

@keyframes flicker {
  0% {
    text-shadow: 0px 0px 20px #000;
    color: #000;
  }
  10% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
  12% {
    text-shadow: 0px 0px 20px #000;
    color: #000;
  }
  20% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
  25% {
    text-shadow: 0px 0px 20px #000;
    color: #000;
  }
  30% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
  100% {
    text-shadow: 0px 0px 20px #3de5ff;
    color: #c9f8ff;
  }
}

h1 {
  font-size: 6.7vw;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  color: #000;
  text-shadow: 0px 0px 20px #000;
}


/* setting a maximum font size for h1, so it doesn't get too big. */

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 80px;
  }
}

img {
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

a {
  font-family: 'Comfortaa', cursive;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: #c9f8ff;
  text-shadow: 0px 0px 20px #3de5ff;
}

.h1-flicker {
  -webkit-animation-name: flicker;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  animation-name: flicker;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-duration: 2s;
}


/* The game content div contains the sidebar and the game board */

.game-content {
  display: -webkit-flex;
  display: flex;
  margin: auto;
  justify-content: center;
  display: table;
  padding: 1%;
}

.sidebar {
  display: table-cell;
  vertical-align: middle;
  padding: 1%;
}

.timer {
  white-space: nowrap;
}

.move-counter {
  white-space: nowrap;
}

@-webkit-keyframes flicker-box {
  0% {
    box-shadow: 15px 15px 20px #000;
  }
  10% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
  12% {
    box-shadow: 15px 15px 20px #000;
  }
  20% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
  25% {
    box-shadow: 15px 15px 20px #000;
  }
  30% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
  100% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
}

@keyframes flicker-box {
  0% {
    box-shadow: 15px 15px 20px #000;
  }
  10% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
  12% {
    box-shadow: 15px 15px 20px #000;
  }
  20% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
  25% {
    box-shadow: 15px 15px 20px #000;
  }
  30% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
  100% {
    box-shadow: 15px 15px 20px #3de5ff;
  }
}


/* background images are all my own artwork */

.game-board {
  display: -webkit-flex;
  display: flex;
  max-width: 900px;
  padding: 2%;
  padding-bottom: 3%;
  background-image: url("../imgs/game_board.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 15px 15px 20px #000;
}

.game-board-flicker {
  -webkit-animation-name: flicker-box;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  animation-name: flicker-box;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-duration: 2s;
}


/* background image assigned to card slots to make the grid look like it has
indents in it, yet still allows responsiveness */

.card-slot {
  max-width: 200px;
  background-image: url("../imgs/card_slot.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 2%;
  margin: 5%;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

.card-front {
  display: none;
  -webkit-animation-name: bounce;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: .1s;
  animation-name: bounce;
  animation-delay: 0s;
  animation-duration: .1s;
}

.card-back:hover {
  box-shadow: 0px 0px 10px #96f4ff;
}


/* incorrect match animation */

@-webkit-keyframes whoops {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes whoops {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.whoops {
  -webkit-animation-name: whoops;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: .4s;
  animation-name: whoops;
  animation-delay: 0s;
  animation-duration: .4s;
}


/* win animation */

@-webkit-keyframes yay {
  0% {
    -webkit-transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes yay {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.yay {
  -webkit-animation-name: yay;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: .4s;
  animation-name: yay;
  animation-delay: 0s;
  animation-duration: .4s;
}

.button {
  cursor: pointer;
}

.button:hover {
  color: #c9f8ff;
  text-shadow: 0px 0px 20px #3de5ff;
}


/* below is popup window and mask styles */

.mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}

.popup-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
  padding: 20px;
  max-width: 750px;
  background-color: #000;
  color: #fff;
  text-align: center;
}
